@charset "UTF-8";

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #cac9c9;
  color: #3f3e3e;
  padding-top: 50px;
}

.navbar-laravel {
  background-color: #444444;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #505050;
}

.login-box {
  background-color: #505050;
}

.login-header {
  background-color: #505050;
}

.login-body {
  background-color: #505050;
}

.image-box {
  position: relative;
}

.image-box img {
  width: 100%;
  height: auto;
}

.recipe-create {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*以下装飾*/
  margin: 0;
  /*余計な隙間を除く*/
  font-size: 20px;
  /*文字サイズ*/
  font-weight: bold;
  text-align: center;
  border: solid #ff7bae 2px;
  /*線で囲う*/
  border-radius: 20px;
  width: 50%;
  height: 40px;
  padding: 3px;
  /*文字と線の間の余白*/
  color: #ff3c87;
  /*文字色*/
  text-decoration: none;
  /*下線を表示させない*/
  background-color: #2e2d2d;
}

.recipe-index {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*以下装飾*/
  margin: 0;
  /*余計な隙間を除く*/
  font-size: 20px;
  /*文字サイズ*/
  font-weight: bold;
  text-align: center;
  border: solid #ff7bae 2px;
  /*線で囲う*/
  border-radius: 20px;
  width: 50%;
  height: 40px;
  padding: 3px;
  /*文字と線の間の余白*/
  color: #ff3c87;
  /*文字色*/
  text-decoration: none;
  /*下線を表示させない*/
  background-color: #2e2d2d;
}

.about-box {
  position: relative;
}

.about-box img {
  width: 100%;
  height: auto;
}

.about-box h5 {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.pagination {
  justify-content: center;
}

.line-icon {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

